<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample TestNG Suite">
  <test thread-count="5" name="Sample TestNG Test">
    <classes>
      <class name="sample_testng_project.test1"/>
      <class name="sample_testng_project.test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
